﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Book Library</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/books.jpg" />
                </div>
                <div class="float-right" style="margin-top: 65px;">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Books List", "Index", "BookLibrary")</li>
                            <li>@Html.ActionLink("Search Books by  Author", "SearchByAuthor", "BookLibrary")</li>
                            <li>@Html.ActionLink("Search Books by Category", "SearchByCategory", "BookLibrary")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Book Library Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
