﻿@model IEnumerable<BookLibraryData.Book>
@{
    ViewBag.Title = "Search by Category";
}

<h2>Select tha book category:</h2>

@using (Html.BeginForm("CategoryChosen", "BookLibrary", FormMethod.Get))
{
    @Html.DropDownList("CategoryType")
    <input type= "submit" style="margin-left:20px;" value="Search" />
}

<table>
    @if (Model != null && Model.Count() > 0)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
        </tr>
   
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
        </tr>
        }
    }
</table>

<div class="back-to-list">
    @Html.ActionLink("Back to List", "Index")
</div>
