﻿@model IEnumerable<BookLibraryData.Book>
@{
    ViewBag.Title = "Search By Author";
}

<h2>Enter your preferred author:</h2>

@using (Html.BeginForm("AuthorSearch", "BookLibrary")) {
        <div class="editor-field">
           @Html.TextBox("author",
                 String.Empty, 
                 new { maxlength = 50, minlength = 3 })
        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
}

<table>
    @if (Model != null && Model.Count() > 0)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
        </tr>
   
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
        </tr>
        }
    }
</table>

<div class="back-to-list">
    @Html.ActionLink("Back to List", "Index")
</div>



